@import url(vendor/normalize.css);
@import url(vendor/fonts/Inter_Web/inter.css);
/* @import url(blocks/body/body.css);
@import url(blocks/page/page.css); */
@import url(components/Main/HeaderMain/headerMain.css);
@import url(components/Main/Promo/promo.css);
@import url(components/Main/NavTab/navTab.css);
@import url(components/Main/AboutProject/aboutProject.css);
@import url(components/Main/Techs/techs.css);
@import url(components/Main/AboutMe/aboutMe.css);
@import url(components/Main/Portfolio/portfolio.css);
@import url(components/Footer/footer.css);
@import url(components/Header/header.css);
@import url(components/Navigation/navigation.css);
@import url(components/Movies/SearchForm/searchForm.css);
@import url(components/SavedMovies/SearchForm/searchForm.css);

@import url(components/Movies/MoviesCardList/moviesCardList.css);
@import url(components/Movies/MoviesCard/moviesCard.css);
@import url(components/Preloader/preloader.css);
@import url(components/PopupWithForm/popupWithForm.css);
@import url(components/Profile/profile.css);
/* @import url(components/Login/login.css); */
/* @import url(components/Register/register.css); */
@import url(components/FieldForm/fieldForm.css);


@import url(components/NoRoute/noRoute.css);

/* outline: red solid 1px; */