.form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.form__heading {
  font-family: Inter, Georgia, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 74px auto 123px;
}
.form__save {
  border: none;
  font-family: Inter, Georgia, sans-serif;
  font-style: normal;
}

.form__save:hover {
  opacity: 0.8;
  cursor: pointer;
}
.form__buttonOption {
  display: flex;
  margin: 16px auto 70px;
}
.form__option {
  border: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: Inter, Georgia, sans-serif;
  font-style: normal;
}
.form__option:hover {
  opacity: 0.8;
  cursor: pointer;
}
.form__text {
  margin: 0;
  margin-right: 6px;
  color: #A0A0A0;
}
/* .formProfile__heading {
  margin: 74px auto 123px;
} */
.formProfile__save {
  margin-top: 203px;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.formProfile__option {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FF004D;
}
.formAuth__heading {
  width: 396px;
  margin: 40px auto;
}
.formAuth__save {
  width: 396px;
  height: 45px;
  background-color: #2BE080;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.formAuth__option {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2BE080;
}
.formRegister__save {
    margin-top: 69px;
  }
.formLogin__save {
  margin-top: 179px;
}
.formRegister__save_disable {
  color: #FFFFFF;
  background-color: #A0A0A0;
}
.formLogin__save_disable {
  color: #FFFFFF;
  background-color: #A0A0A0;
}
.formProfile__save-disable {
  background-color: #ffffff;
  color: #A0A0A0;
}
@media screen and (max-width: 800px) {
  .form__buttonOption {
    margin: 16px auto 250px;
  }
  .form__heading {
    margin: 236px auto 96px;
  }
  .formProfile__save {
    margin-top: 193px;
  }
  .formAuth__heading {
    width: 396px;
    margin: 40px auto;
  }
}
@media screen and (max-width: 500px) {
  .formAuth__save {
    width: 335px;
  }
  .formAuth__heading {
    width: 335px;
  }
}
@media screen and (max-width: 400px) {
  .form__buttonOption {
    margin: 14px auto 30px;
  }
  .form__heading {
    margin: 70px auto 80px;
  }
  .formProfile__save {
    margin-top: 362px;
    font-size: 12px;
    line-height: 15px;
  }
  .formAuth__heading {
    width: 260px;
    margin: 50px auto 80px;
    text-align: center;
  }
  .formAuth__save {
    width: 260px;
    font-size: 12px;
    line-height: 15px;
  }
  .formAuth__option {
    font-size: 12px;
    line-height: 15px;
  }
  .formRegister__save {
    margin-top: 157px;
  }
  .formLogin__save {
    margin-top: 267px;
  }
}